<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Данные формы</title>
</head>
<body>
<form action="/updateResult" method="get">
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>Region</th>
            <th>Hbar</th>
        </tr>
        <tr>
            <td>
                <p><input type="text" name="id"/></p>
            </td>
            <td>
                <p><input type="text" name="name"/></p>
            </td>
            <td>
                <p><input type="text" name="region"/></p>
            </td>
            <td>
                <p><input type="text" name="Hbar"/></p>
            </td>
        </tr>
    </table>
    <p><input type="submit"/></p>
</form>
</body>
</html>